* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
}

#hero {
    height: 100vh;
    width: 100%;
    background: url(./background.jpg);
    background-size: 100% 95vh;
    background-repeat: no-repeat;
    overflow: hidden;
}


#navbar {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 4rem;
    padding: 10px 10px;
    position: fixed;
}

.scrolled{
    background-image: linear-gradient(to bottom right,  #C7EEFF,  #0077C0);
}

.logo {
    font-size: 1.5rem;
    color: #1D242B;
    padding-right: 50px;
}



.searchBar {
    width: 100%;
    max-width: 700px;
    background-color: #fafafae1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem;
    border-radius: 7px;
    box-sizing: border-box;
}

.searchBar input {
    background: transparent;
    border: 0;
    outline: none;
    font-size: 1rem;
    flex: 1;
    padding: 2px 30px;

}

::placeholder {
    color: #1d242bcb;
}

form button {
    border: none;
    background-color: transparent;
    width: 30px;
}

.red{
    color: red;
}


a{
    text-decoration: none;
    color: #1D242B;
    font-weight: 600;
}

.anchorTag:hover {
    color: #C7EEFF;
    background-color: #1D242B;
    padding: 2px 10px;
  }

#home {
    padding: 10rem;
    display: flex;
    flex-direction: column;
    color: #1D242B;
}

#home h2 {
    font-size: 3rem;
}

#photos a{
    font-size: 1.7rem;

}

#photos{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#photos img{
    width: 200px;
    height: 250px;
}

.eachRow{
    display: flex;
    gap: 10px;
    background-color: #C7EEFF;
    padding: 10px;
    justify-content: center;
    align-items: center;
}


.eachRow img:hover{
    border: solid #1d242b6e 1px;
    box-shadow: 10px 10px 10px grey;
}

footer{
    background-image: linear-gradient(to right, #C7EEFF,  #0077C0);
}

.down{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.down h3{
    padding: 7rem;
    font-size: 4rem;
    color: #1D242B;
} 

@media (max-width:1115px) {
    #photos img{
        width: 150px;
        height: 200px;
    }
    
}

@media (max-width:1000px) {
    #home {
        padding: 7rem;
    }
    
}

@media (max-width: 900px) {
    #navbar a{
        display: none;
    }
    #photos img{
        width: 120px;
        height: 150px;
    }
}

@media (max-width: 900px) {
    #navbar a{
        display: none;
    }
    #photos img{
        width: 90px;
        height: 100px;
    }
}

@media (max-width: 800px) {
    #navbar a{
        display: none;
    }
    #photos img{
        width: 90px;
        height: 100px;
    }
    #home h2{
        font-size: 30px;
    }

}

@media (max-width: 550px) {
    #navbar a{
        display: none;
    }
    #photos img{
        width: 60px;
        height: 70px;
    }
    #home{
        padding-left: 20px;
    }
    #home h2{
        font-size: 25px;
    }

    #photos a{
        font-size: 1rem;
    }

    .eachRow{
        display: flex;
        gap: 5  px;
        background-color: #C7EEFF;
        padding: 5px;
     
    }
    .down h3{
        padding: 4rem;
        font-size: 2rem;
        color: #1D242B;
    } 

    .searchBar{
        display: none;
    }

}